<div class="header">
	<div class="title">Tim Heuett</div>
</div>

<div class="footer">
	<div class="social-links">
		<%= link_to "http://www.twitter.com/TimTheSuperGuy", "circletwitterbird" %>
		<%= link_to "http://www.github.com/timhugh", "circlegithub" %>
		<%= link_to "http://www.facebook.com/timhugh", "circlefacebook" %>
		<%= link_to "http://www.linkedin.com/in/timheuett", "circlelinkedin" %>
		<%= link_to "http://instagram.com/timhugh/", "circleinstagram" %>
		<%= link_to "http://www.pinterest.com/timhugh/", "circlepinterest" %>
		<%= link_to "mailto:info@timheuett.com", "circleemail" %>
	</div>
</div>